<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apsupportapp.aperotechnologies.com.designapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
    <Protected-broadcast android:name="android.location.BOOT_COMPLETED" />
    <Protected-broadcast android:name="android.location.USER_PRESENT" />
    -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DashBoardActivity"
            android:label="@string/title_activity_dash_board"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StyleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SwitchingTabActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HorlyAnalysis.KeyProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Prod_FilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SearchActivity1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VisualAssortmentSwipe.VisualAssortmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TransparentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AnyOrientationCaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PvaSalesAnalysis.SalesPvAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SalesAnalysis.SalesAnalysisActivity1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SalesAnalysis.SalesFilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RunningPromo.RunningPromoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RunningPromo.RunningPromoDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RunningPromo.VM"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RunningPromo.VmPreview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ExpiringPromo.ExpiringPromoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UpcomingPromo.UpcomingPromo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".BestPerformersPromo.BestPerformerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WorstPerformersPromo.WorstPerformerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FreshnessIndex.FreshnessIndexActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OptionEfficiency.OptionEfficiencyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".BestPerformersPromo.FilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- <activity -->
        <!-- android:name=".TopOptionCutSize.TopFullCut" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden" /> -->
        <activity
            android:name=".SkewedSize.SkewedSizesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FreshnessIndex.InventoryFilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StockAgeing.StockAgeingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".BestPerformersInventory.BestPerformerInventory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WorstPerformersInventory.WorstPerformerInventory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FloorAvailability.FloorAvailabilityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TargetStockExceptions.TargetStockExceptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SellThruExceptions.SaleThruInventory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- Local Notification receiver -->
        <receiver android:name=".LocalNotificationReceiver" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ffdd609785d2fe5506254706299413b2c3ea9898" />

        <activity
            android:name=".RunningPromo.RunningPromoDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SalesAnalysis.SalesFilter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VisualAssortmentSwipe.VisualReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".KeyProductPlan.KeyProductPlanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".KeyProductPlan.KeyProductFilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Collaboration.to_do.Tab_fragment.TransferRequest_Details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Collaboration.to_do.To_Do"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"

            />
        <activity
            android:name=".Collaboration.Status.StatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Collaboration.to_do.Tab_fragment.Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Collaboration.Status.Tab_fragment.ToBeSenderDetails"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Collaboration.Status.Tab_fragment.ToBeReceiverDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Feedback.Feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Feedback.FeedbackList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreInspection.InspectionBeginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StoreInspection.InspectionHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".test"></activity>

        <activity android:name=".MPM.mpm_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>


        <activity android:name=".StoreInspection.InspectionDetailsActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>


    </application>

</manifest>